<html>
    <head>
        <title>{{ ezpublish.rootLocation.contentInfo.name }}</title>
    </head>

    <body>
        <h1>{{ ezpublish.rootLocation.contentInfo.name }}</h1>

        {% block content %}
        {% endblock %}
    </body>
</html>
