{% extends noLayout
    ? viewbaseLayout
    : "QafooBlogBundle::layout.html.twig"
%}

{% block content %}
    <h1>{{ location.contentInfo.name }}</h1>

    {{ ez_render_field(content, "description") }}

    <div>
    {{ render(controller(
            "ez_content:viewLocation",
            {"locationId": location.id, "viewType": 'list' },
            {'page': app.request.query.get('page')}
        )) }}
    </div>
{% endblock %}
